---
apiVersion: v1
kind: Secret
metadata:
  name: nca-secrets
  namespace: nocodeapi
  labels:
    app: nca-api
    managed-by: script
    environment: production
type: Opaque
stringData:
  API_KEY: "${NOCODE_API_KEY}"
  # Optional: If using S3, uncomment and fill in
  S3_ENDPOINT_URL: "https://minio.roggero.io"
  S3_ACCESS_KEY: "TzfcbkpJIg2Re63cbkkg"
  S3_SECRET_KEY: "kPA9lFxOBju7wI2WkAZEu8HCiVcp0lD0iqin3h2g"
  S3_BUCKET_NAME: "nocodeapi"
  S3_REGION: "as-east-tw1"
