apiVersion: v1
kind: Secret
metadata:
  name: minio-credentials
  namespace: velero
  labels:
    app: velero
    managed-by: script
    environment: production
type: Opaque
stringData:
  cloud: |
    [default]
    aws_access_key_id=${MINIO_ACCESS_KEY}
    aws_secret_access_key=${MINIO_SECRET_KEY} 