apiVersion: v1
kind: Service
metadata:
  name: rustdesk-web-service
  namespace: rustdesk
  labels:
    app: rustdesk-hbbs
    managed-by: script
spec:
  type: ClusterIP
  selector:
    app: rustdesk-hbbs
  ports:
  - port: 80
    targetPort: 21118
    protocol: TCP
    name: http-web-client 