apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ${MCP_SERVICE_NAME}-storage
  namespace: mcp
  labels:
    app: ${MCP_SERVICE_NAME}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: ${MCP_AIRTABLE_STORAGE_SIZE} 