---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: zitadel-storage
  namespace: zitadel
  labels:
    app: zitadel
    managed-by: script
    environment: production
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: microk8s-hostpath
