apiVersion: v1
kind: Secret
metadata:
  name: airbyte-auth-secrets
  namespace: airbyte
type: Opaque
stringData:
  instance-admin-password: "${AIRBYTE_PASSWORD}"
  airbyte-auth-api-key: "${AIRBYTE_PASSWORD}" 